#content{
    text-align: left;

    width: 89%;

    position: relative;
    left:11%;

    border: #FBF9E2;
    border-style: solid;
    border-width: 0px;

    background-color: #ffffff;
}

#menu{
    width: 10%;
    height: 98%;

    position: absolute;

    background-color: #7cc0d5;
}

div.cat{
    margin-top: 5px;

    border: #E6E6FA;
    border-style: solid;
    border-width: 1px;
}

.toRight{
    position: relative;
    float:right;
    text-align: right;
}
