#content{
    text-align: left;

    width: 89%;

    position: relative;
    left:11%;

    border: #FBF9E2;
    border-style: solid;
    border-width: 0px;

    background-color: #ffffff;
}

#menu{
    width: 10%;
    height: 98%;

    position: absolute;

    background-color: #7cc0d5;
}
